bcrypt==5.0.0
cffi==2.0.0
click==8.3.0
cryptography==46.0.3
Deprecated==1.2.13
iniconfig==2.3.0
iso8601==2.1.0
markdown-it-py==4.0.0
mdurl==0.1.2
packaging==25.0
pluggy==1.6.0
prompt_toolkit==3.0.52
pycparser==2.23
Pygments==2.19.2
pyhumps==3.8.0
pytest==8.4.2
redis==7.0.1
rich==14.2.0
rick==0.7.1
setuptools==80.9.0
toml==0.10.2
wcwidth==0.2.14
wrapt==1.17.3
